<ion-view title="Cash" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="cash-list11">
      <ion-item id="cash-list-item14">Total
        <span class="item-note">600.000vnd</span>
      </ion-item>
      <label class="item item-input" id="cash-input5">
        <span class="input-label">Enter amount:</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 304px;"></div>
    <button id="cash-button13" class="button button-positive button-block">Process to Checkout</button>
  </ion-content>
</ion-view>