<ion-view title="Confirmation" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="confirmation-list8">
      <ion-item class="item-icon-left positive" id="confirmation-list-item20">
        <i class="icon ion-android-star"></i>Milk Caffe
        <span class="item-note">x3</span>
        <ion-option-button class="button-assertive">delete</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left positive" id="confirmation-list-item21">
        <i class="icon ion-android-star"></i>Capucchino
        <span class="item-note">x3</span>
        <ion-option-button class="button-assertive">delete</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left positive" id="confirmation-list-item22">
        <i class="icon ion-star"></i>Ice Tea
        <span class="item-note">x3</span>
        <ion-option-button class="button-assertive">delete</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 260px;"></div>
    <button id="confirmation-button12" class="button button-positive button-block">Order</button>
  </ion-content>
</ion-view>