<ion-view title="Login" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="data.login_username">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder=""ng-model="data.login_password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 44px;"></div>
      <button ng-click="LoginFunction()" id="login-button1" class="button button-stable button-block" ng-href="{{link}}">Log in</button>
      <a ng-href="{{link}}" id="login-button3" ng-click="FacebookFunction()" class="button button-positive button-block icon ion-social-facebook"></a>
      <a href-inappbrowser="/signup" id="login-button2" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>