<ion-view view-title="Menu-Drink" id="page1">
<div class="row">
    <div class="tabs-striped tabs-top tabs-background-white tabs-color-blue">
        <div class="tabs">
          <a class="tab-item active" ui-sref="menu2.menu()">
            Drink
          </a>
          <a class="tab-item " href="#/page9">
              Food
            </a>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 100px; "></div>
      <div class="list">
        <a class="item item-thumbnail-left" href="">
          <img src="{{src}}">
          <h2 style="color:orange">{{name}}</h2>
          <div class="row">
            <div class="col col-50"><p>Small Size</p></div>
            <div class="col"><p> <button ng-click="button_click_minus()" ng-show="button_click()">-</button> x{{number}} <button ng-click="button_click()" >+</button></p></div>
            <div class="col"><p>{{total_price}}vnd</p></div>
          </div>
          <div class="row">
              <div class="col col-50"><p>Price: {{price}}vnd </p></div>
            </div>
        </a>
    
    <div class="spacer" style="width: 300px; height: 45px; "></div>
    <a ui-sref="menu2.confirmation()" id="menu-button11" class="button button-positive button-block" 
        style="position:fixed; bottom:30px; right:30px;left:30px">Basket</a>
</ion-view>