<ion-view title="Your profile" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="page-container1">
      <ion-list id="page-list3">
        <ion-item class="item-avatar item-icon-right royal" id="page-list-item4">
          <img src="img/i8Gj3gVITn7PV6tbY7AC_maplestory-11_179268-1440x900.jpg">
          <h2royal>haidang
            <p>Total point: 200</p>
            <button class="button button-icon icon ion-navicon"></button>
          </h2royal>
        </ion-item>
      </ion-list>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    
  <div class="button-bar">
      <a ui-sref="menu2.menu()" class="button button-calm">Order</a>
      <a class="button">Available_Table: <label ng-model="numOfTable"></label></a>
    </div>
  <div class="spacer" style="width: 300px; height: 20px;"></div> 
    <div id="page-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2D8525;">Discount Coffee is the number one choice for the best coffee beans, grinds, pods and barista supplies. Now in our 15th year Discount Coffee delivers great coffee to thousands of happy customers. We pride ourselves on delivering our gourmet coffee
        beans in their freshest state. We deliver worldwide, daily with most of our orders being fulfilled within 24 hours, so if you need you coffee beans in a hurry, select Next Day Delivery at the checkout.</p>
    </div>
    <div id="page-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2D8525;">Discount Coffee is the number one choice for the best coffee beans, grinds, pods and barista supplies. Now in our 15th year Discount Coffee delivers great coffee to thousands of happy customers. We pride ourselves on delivering our gourmet coffee
        beans in their freshest state. We deliver worldwide, daily with most of our orders being fulfilled within 24 hours, so if you need you coffee beans in a hurry, select Next Day Delivery at the checkout.</p>
    </div>
    <div id="page-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#2D8525;">Discount Coffee is the number one choice for the best coffee beans, grinds, pods and barista supplies. Now in our 15th year Discount Coffee delivers great coffee to thousands of happy customers. We pride ourselves on delivering our gourmet coffee
        beans in their freshest state. We deliver worldwide, daily with most of our orders being fulfilled within 24 hours, so if you need you coffee beans in a hurry, select Next Day Delivery at the checkout.</p>
    </div>
  </ion-content>
</ion-view>