<ion-view title="Payment" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="payment-list10">
      <ion-item id="payment-list-item9">Milk Coffee
        <span class="item-note">x3 = 200.000vnd</span>
      </ion-item>
      <ion-item id="payment-list-item10">Capucchino
        <span class="item-note">x3 = 200.000vnd</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 299px;"></div>
    <div id="payment-button-bar1" class="button-bar">
      <a ui-sref="cash()" id="payment-button7" class="button button-positive button-block">Cash</a>
      <button id="payment-button8" class="button button-positive button-block">Card</button>
      <button id="payment-button9" class="button button-positive button-block">Other</button>
    </div>
  </ion-content>
</ion-view>