<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Profile</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-right has-header ">
      <ion-list id="profile-list3">
        <ion-item class="item-icon-left" id="profile-list-item23">
          <i class="icon ion-ionic"></i>Item</ion-item>
      </ion-list>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-list id="profile-list4">
        <div class="item item-body" id="profile-list-item-container7">
          <div id="profile-markdown8" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Some friendly
              <strong>markdown</strong>
            </p>
          </div>
        </div>
      </ion-list>
      <div id="profile-button-bar2" class="button-bar">
        <button id="profile-button10" class="button button-positive button-block">1</button>
        <button id="profile-button11" class="button button-stable button-block">2</button>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>